.text {
  margin: 0;
  line-height: 1.5;
  font-family: inherit;

  &--xs {
    font-size: 12px;
  }

  &--s {
    font-size: 14px;
  }

  &--m {
    font-size: 16px;
  }

  &--l {
    font-size: 18px;
  }

  &--xl {
    font-size: 20px;
  }

  &--300 {
    font-weight: 300;
  }

  &--400 {
    font-weight: 400;
  }

  &--500 {
    font-weight: 500;
  }

  &--600 {
    font-weight: 600;
  }

  &--700 {
    font-weight: 700;
  }

  &--primary {
    color: var(--color-text-primary);
  }

  &--secondary {
    color: var(--color-text-secondary);
  }

  &--danger {
    color: var(--color-danger);
  }

  &--success {
    color: var(--color-success);
  }

  &--white {
    color: var(--color-main-white);
  }

  &--light {
    color: #ccc;
  }

  &--gray {
    color: #737477;
  }

  &--dim {
    color: #000f1e99;
  }

  &--red {
    color: var(--color-main-pink);
  }
}

@media (max-width: 432px) {
  .text {
    font-size: 14px;
    &--xl {
      font-size: 18px;
    }
    &--l {
      font-size: 16px;
    }
    &--s {
      font-size: 13px;
    }
    &--xs {
      font-size: 12px;
    }
  }
}
