.hero {
  padding: 180px 0 40px;

  &__title {
    margin-bottom: 24px;
  }

  &__title--pro {
    font-weight: 800;
  }

  &__title--boi {
    font-weight: 400;
  }

  &__title-tagline {
    margin-left: 8px;
    display: inline-block;
  }

  &__description {
    max-width: 800px;
    margin-left: 0;
    margin-right: auto;
  }
}